<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Payments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PaymentsCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PaymentsIntentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PaymentsIntentInterfaceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>599F7E381D12644900C770D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599F7E511D12655100C770D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599F7E661D126E4200C770D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599F7E7B1D12EBA200C770D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
